body {
    margin: 20px;
    font-family: monospace;
    font-size: 18px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #aad576;
    color: #538d22;
    border-bottom: 6px solid #143601;
    border-radius: 2%;
}

.card:hover{
    color: #9d8189;
    background: #ffcad4;
    box-shadow: 10px 20px;
}

.Note{
    color: red;
    margin-top: 40px;
    text-align: center;
}